# Documentación privada / no versionada
private/

# Archivos comprimidos
*.zip
*.rar
*.7z

# Archivos temporales
*.tmp
*.bak
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Maven
target/

# IDEs
.classpath
.project
.settings/
.factorypath
.idea/
.vscode/

# Logs
*.log
/bin/
